input{
    margin-top: 20px;
}
button{
    margin-top: 10px;
}
.flex{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
}
.form{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    width: 350px;
}
